# Bot Directories
Dev
node_modules
pfps

# Bot Files
.env
package-lock.json
shutdown-time.txt 
restart-time.txt
googleapi.js
google-credentials.json

# Web Directories
bootstrap
fonts

# Web Files
jquery.min.js
untitled.js